@page "/"
@inject ILocalStorageService localStorage
@inject IToastService toastService

@code{
    private ResultadoIMC resultadoImc = new ResultadoIMC();

    public class  ResultadoIMC
    {
        public string Data { get; set; } = DateTime.Now.ToString("dd/MM/yyyy");
        public string? Resultado { get; set; }
        public string? Feedback { get; set; }
    }

    private string? Peso { get; set; }
    private string? Altura { get; set; }

    private double PesoDouble => string.IsNullOrEmpty(Peso) ? 0.0 : double.Parse(Peso);
    private double AlturaDouble => string.IsNullOrEmpty(Altura) ? 0.0 : double.Parse(Altura);

    private string? Sexo { get; set; }
    private double IMC { get; set; }
    private string? Resultado { get; set; }
    private string? Feedback { get; set; }

    public async Task SalvarCalculo()
    {

        string json = System.Text.Json.JsonSerializer.Serialize(resultadoImc);
        string key = "data_" + DateTime.Now.Ticks;

        toastService.ShowSuccess("O calculo foi realizo, veja o histórico.");

        await localStorage.SetItemAsync(key, json);
    }

    public bool ValidacaoDados()
    {

        if(string.IsNullOrEmpty(Peso) || string.IsNullOrEmpty(Altura))
        {
            toastService.ShowError("Preencha altura e peso para calcular o IMC.");
            return false;
        }

        return true;

    }

    public async Task VerificarIndice()
    {

        if(ValidacaoDados()) {

        IMC = PesoDouble / (AlturaDouble * AlturaDouble);

        if (IMC < 18.5)
        {
            resultadoImc.Resultado = "Abaixo do peso ⛔️";
            resultadoImc.Feedback = "Você está abaixo do peso! Faça alguns ajustes para ficar no peso ideal!";
        }
        else if (IMC < 25)
        {
            resultadoImc.Resultado = "Peso ideal ✅";
            resultadoImc.Feedback = "Parabéns, você está no seu peso ideal, continue mantendo este estilo!";
        }
        else if (IMC < 30)
        {
            resultadoImc.Resultado = "Sobrepeso ⛔️";
            resultadoImc.Feedback = "Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!";
        }
        else if (IMC < 40)
        {
            resultadoImc.Resultado = "Obesidade ⛔️";
            resultadoImc.Feedback = "Você está com obesidade. Você precisa melhorar sua alimentação e rotina de exercícios!";
        }
        else
        {
            resultadoImc.Resultado = "Obesidade Grave ⛔️";
            resultadoImc.Feedback = "Você está com obesidade grave. Você precisa melhorar sua alimentação e rotina de exercícios!";
        }

        await SalvarCalculo();
        }
    }
}

<PageTitle>Cálculo do IMC</PageTitle>

<BlazoredToasts></BlazoredToasts>

<div class="container">
    <h1>Cálculo de IMC</h1>
    <div class="flex flex-column">
        <div><input class="input-text" name="Altura" type="number" placeholder="Altura" @bind="Altura" /></div>
        <div><input class="input-text" name="Peso" type="number" placeholder="Peso" @bind="Peso" /></div>
        <div class="mt-15 mb-10 container-checkbox">
            <input type="checkbox" id="terms" class="input-radio" />
            <label for="terms">Eu tenho 65 anos ou mais</label>
        </div>
        <div><button class="btn btn-primary" @onclick="VerificarIndice">Calcular meu IMC</button></div>
        <div><button class="btn btn-secondary" href="https://vidasaudavel.einstein.br/calcular-o-seu-imc/">Entenda o cálculo</button></div>
    </div>
</div>